In [4]:
import numpy as np
import pandas as pd
pd.__version__

'2.2.2'

In [3]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
df = pd.read_csv(url)
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [27]:
df.columns[pd.isnull(df).sum() > 0].values.shape[0]

# df.head(2).sum()

4

In [29]:
df['fuel_efficiency_mpg'][df['origin'] == 'Asia'].max()

np.float64(23.759122836520497)

In [ ]:
firstMid = df.horsepower.median()
hpC = df.horsepower.groupby(df.horsepower).count()
mostFreqHp = hpC.argmax()
secondMid = df.horsepower.fillna(mostFreqHp).median()

In [48]:
print(firstMid, secondMid)

149.0 146.0

In [62]:
df[df.origin == 'Asia'][['vehicle_weight', 'model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [71]:
X = df[df.origin == 'Asia'][['vehicle_weight', 'model_year']].iloc[0:7].values
print (X)
XTX = X.T @ X
print(XTX.dtype)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = np.linalg.inv(XTX) @ X.T @ y
w.sum()
# df.origin == 'Asia'

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
float64

np.float64(0.5187709081074016)